$primary: #FFD366;
$light: #f5f5f5;
$dark: #424242;
$white: #ffffff;
$black: #000000;

.position-relative{
    position: relative;
}

.d-flex{
    display: flex;
}

.align-item-center{
    align-items: center;
}

.d-none{
    display: none!important;
}

.mb-0{
    margin-bottom: 0;
}

header{
    background-color: $dark;
    max-width: 1920px;
}

.wrap{
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    color: $primary;
    padding: 60px 0;
    width: 700px;
    position: relative;

    @include mid-phone{
        width: 100%;
        flex-direction: column;

        h1{
            margin-bottom: 50px;
        }
        ul{
            margin-bottom: 50px;
        }
    }

    @include phone{
        max-width: 375px;
    }


    label{
        display: block;
        font-size: 18px;
        margin-bottom: 10px;
    }

    .inputClass{
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 1.5px;
        padding: 5px 7px;
        margin-bottom: 20px;
        border: 2px solid $primary;
        border-radius: 10px;
        background-color:rgba(255,255,255,0.18);
        color: $primary;
    }

    .inputClass:focus{
        outline:none;
        padding: 3px 5px;
        border: 4px solid $primary;
    }

    h2{
        color: $dark;
    }
    
}

.record{
    background-color: $light;
    min-height: calc(100vh - 392px);
}

footer{
    background-color: $primary;

    img{
        display: inline-block;
        width: 55px;
        height: 55px;
        padding: 18px;
        filter:contrast(10%)
    }
    text-align: center;
}


.recordTitle{
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;

    .delListBtn{
        display: inline-block;
        font-weight: normal;
        font-size: 12px;
        padding-top: 5px;
        letter-spacing: 1px;
        color:$dark;
    }
    .delListBtn:hover{
        color: $primary;
    }
}

.recordList{

    li{
        max-width: 624px;
        margin: 0 auto;
        background-color: #fff;
        color: #4A4A4A ;
        font-size: 20px;
        line-height: 23px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 25px;
        margin-bottom: 20px;
        font-weight: bold;
        border-left: 7px solid #000;        

        span{
            font-weight: bold;
            font-size: 12px;
            line-height: 24px;
            padding-right: 10px;
            vertical-align: top;
        }
    }

    @include pad{
        li{
            max-width: 576px;
        }
    }

    @include mid-phone{
        li{
            max-width: 375px;
        flex-direction: column;
        align-items: start;
        div{
            margin-top: 20px;
            padding-left: 30px;
        }
        span{
            margin-top: 20px;
        }
        }
        
    }
}

.result{
    width: 140px;
    @include pad{
        flex-direction: column;
        
    }
    @include mid-phone{
        margin-bottom: 50px;
    }

}

.rank{
    position: absolute;
    right: -170px;
    top: 50px;
    font-size: 32px;
    line-height: 38px;
    font-weight: bold;
    letter-spacing: 1px;
    width: 140px;
    @include pad{
       // position: relative;
        text-align: center;
        right: 0;
        top: 150px;
        margin-bottom: 10px;
    }
}







//btn

.calBtn{

    border: none;
    width: 120px;
    height: 120px;
    border-radius: 100px;
    background-color: $primary;
    border: 6px solid $primary;
    font-size: 24px;
    line-height: 25px;
    font-weight: bold;
    display: flex;
    transition: .5s;
    color: $dark;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 
}

.calBtn:hover{
    box-shadow: 0px 0px 30px 6px rgba(255,196,50,0.64);
    transition: .5s; 
}
.calBtn:active{
    background-color: #DEA921;
}
.calBtn:focus{
    outline: none;
}

.resetBtn{
    position: absolute;
    padding: 7px 10px;
    border-radius: 100px;
    border: 4px solid $dark;
    right: -9px;
    bottom: 15px;
    transition: .5s;
}

.resetBtn:hover{
    transition: .5s;
    border: 3px solid $dark;
}



//resultImg
.resultImg{
    border: none;
    width: 120px;
    height: 120px;
    border-radius: 100px;
    background-color: $dark;
    border: 6px solid $primary;
    font-size: 32px;
    line-height: 25px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    span{
        font-size: 14px;
        line-height: 0;
        padding-top: 16px;
    }

}


h1 {
    a{
      background-image: url(../img/BMICLogo.png);
      text-indent: 101%;
      overflow: hidden;
      white-space: nowrap;
      background-size: cover;
      padding: 0;
      width: 117px;
      height: 117px;
    }
  }
  